
@{
    ViewBag.Title = "Alertas";
}

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">A basic message <small>(Click on image)</small> </h4>
                <img src="~/assets/img/alert/alert.png" alt="alert" class="img-responsive model_img" id="sa-basic">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Title with a text under <small>(Click on image)</small></h4>
                <img src="~/assets/img/alert/alert2.png" alt="alert" class="img-responsive model_img" id="sa-title">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Success Message <small>(Click on image)</small></h4>
                <img src="~/assets/img/alert/alert3.png" alt="alert" class="img-responsive model_img" id="sa-success">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Warning message <small>(Click on image)</small></h4>
                <img src="~/assets/img/alert/alert4.png" alt="alert" class="img-responsive model_img" id="sa-warning">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">A basic message <small>(Click on image)</small> </h4>
                <img src="~/assets/img/alert/alert5.png" alt="alert" class="img-responsive model_img" id="sa-params">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Alert with Image <small>(Click on image)</small></h4>
                <img src="~/assets/img/alert/alert7.png" alt="alert" class="img-responsive model_img" id="sa-image">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Alert with time <small>(Click on image)</small></h4>
                <img src="~/assets/img/alert/alert6.png" alt="alert" class="img-responsive model_img" id="sa-close">
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/assets/plugins/sticky-kit-master/sticky-kit.min.js"></script>
    <script src="~/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/js/custom.min.js"></script>
    <!-- Sweet-Alert  -->
    <script src="~/assets/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/plugins/sweetalert/jquery.sweet-alert.custom.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="~/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
}